name: test-aws

on:
  push:
    branches:
      - test-aws
  pull_request:
    branches:
      - test-aws

jobs:
  swarm:
    runs-on: ubuntu-latest
    env:
      TERRAFORM_VERSION: 0.12.24
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      _AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      _AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      AWS_SDK_LOAD_CONFIG: 1
      AWS_PROFILE: aws-test
      TERRAFORM_ARGS: -auto-approve -var=owner_tag='mlin@contractor.chanzuckerberg.com' -var=s3bucket=czi.miniwdl-test

    steps:
    - uses: actions/checkout@v2

    - name: generate AWS credentials files
      # Memorializing roadbumps getting our IAM role to work:
      # 1. We don't use the official AWS Credentials Action because it needs the TagSession power
      # 2. If AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY env vars are defined as such, then boto3
      #    doesn't look in ~/.aws at all; so we prefixed them with underscores above.
      run: |
        mkdir -p ~/.aws
        echo -e "[default]\nregion = us-west-2\n[profile aws-test]\nrole_arn = ${AWS_ROLE_TO_ASSUME}\nsource_profile = default" > ~/.aws/config
        echo -e "[default]\naws_access_key_id = ${_AWS_ACCESS_KEY_ID}\naws_secret_access_key = ${_AWS_SECRET_ACCESS_KEY}" > ~/.aws/credentials

    - name: verify working AWS credentials
      run: aws s3 ls s3://czi.miniwdl-test/

    - name: generate SSH key
      run: ssh-keygen -f ~/.ssh/id_rsa -t rsa -q -N ""

    - name: install terraform
      # the official hashicorp terraform actions have problems finding our AWS credentials files
      run: |
        cd $(mktemp -d)
        wget -nv https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip
        unzip -o terraform_${TERRAFORM_VERSION}_linux_amd64.zip
        mkdir -p ~/.local/bin
        cp terraform ~/.local/bin

    - name: terraform init
      run: ~/.local/bin/terraform init terraform/aws/swarm

    - name: terraform apply
      run: ~/.local/bin/terraform apply $TERRAFORM_ARGS terraform/aws/swarm

    - name: terraform destroy
      if: always()
      run: ~/.local/bin/terraform destroy $TERRAFORM_ARGS terraform/aws/swarm
